/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@layer base {
  * {
    @apply antialiased;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-white text-gray-900 font-sans;
  }
}

@layer components {
  /* 커스텀 스크롤바 */
  ::-webkit-scrollbar {
    @apply w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-red-300 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-red-400;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
